# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# build
dist
build
.next
out

# testing
coverage

# misc
.DS_Store
*.pem

# TODO-Linear tracking file
.todo-linear-tracking.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# ui
dist/

.env

NOTES.txt
*.tsbuildinfo

.vercel
.astro

# Vite cache
**/.vite
**/node_modules/.vite


packages/db/src/migrations/meta/_journal.json
apps/api/package.prod.json


# IDE
.idea
.vscode
*.swp
*.swo

packages/seed/mappings/id-mappings.json

dist-ssr
*.local
.nitro
.tanstack
.output
.vinxi
mcp-todos.json
