---
interface Props {
  pattern: string;
  size?: string;
  opacity?: string;
}

const {
  pattern,
  size = "60px 60px",
  opacity = "opacity-50",
} = Astro.props;
---

<div
  class:list={["absolute inset-0 pointer-events-none", opacity]}
  style={`background-image: url('${pattern}'); background-size: ${size}; background-repeat: repeat;`}
  aria-hidden="true"
></div>
