---
interface Props {
  src: string;
  position: string;
  size?: string;
  opacity?: string;
  rotate?: string;
  hidden?: string;
  flip?: boolean;
  /** Whether to use object-contain for full-height elements like river contour */
  objectContain?: boolean;
  objectPosition?: string;
}

const {
  src,
  position,
  size = "w-20 md:w-28",
  opacity = "opacity-40",
  rotate = "",
  hidden = "hidden md:block",
  flip = false,
  objectContain = false,
  objectPosition = "",
} = Astro.props;

const flipClass = flip ? "-scale-x-100" : "";
---

<div class:list={["absolute pointer-events-none", position, size, opacity, hidden]}>
  {objectContain ? (
    <img
      src={src}
      alt=""
      class:list={["h-full w-full object-contain", objectPosition, flipClass]}
      aria-hidden="true"
    />
  ) : (
    <img
      src={src}
      alt=""
      class:list={["w-full h-auto", rotate, flipClass]}
      aria-hidden="true"
    />
  )}
</div>
