---
interface Props {
  src: string;
  position: string;
  size?: string;
}

const {
  src,
  position,
  size = "h-28 w-28 md:h-40 md:w-40 lg:h-52 lg:w-52",
} = Astro.props;
---

<div class:list={["absolute pointer-events-none", position]}>
  <img
    src={src}
    alt=""
    class:list={["object-contain opacity-40 md:opacity-80", size]}
    aria-hidden="true"
  />
</div>
