---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import NewsletterPlaceholder from '../components/NewsletterPlaceholder.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <main>
        <Hero />
        <NewsletterPlaceholder />
    </main>
    <Footer />
</Layout>
