---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import NewsletterForm from '../components/NewsletterForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <main>
        <Hero />
        <NewsletterForm />
    </main>
    <Footer />
</Layout>
